backend/venv/
backend/WLASL_repo/
backend/data/raw_videos/
backend/data/landmarks/
__pycache__/
*.pyc
*.mp4
!frontend/public/assets/signs/videos/*.mp4
*.npy
*.npz
frontend/node_modules/
frontend/dist/
.venv/
backend/.venv/
*.log
